


h1 a, h2 a, h3, h4, p {
    font-family: Verdana;
    color: #606c38;
    /* text-align: center; */
}

body {
    background-color: #f5cb5c;
    font-family: Verdana;
    color: #000000;
    text-align: center;

}
.icon-contact{
    font-size: 14px;
    height: 25px;
    width: 25px;
    color: #000000;
    
}
.div-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5cb5c;
  color: #000000;
  text-align: center;
  padding: 20px;
}
