{% extends 'staging/base.html' %}
<!-- loading from the static folder? -->
{% load static %}	
{% block content %}
<div class="main-container">
	<div class="image-wrapper">
	  <div class="explore-button">+ Explore</div>
	  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2a7ca76f-b661-465e-b4b0-67a5049942f6?apiKey=abac439ac3244545890e50f502c639c2&" class="image" />
	  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/bb3d5bc2-ceae-4373-ac3e-3e91e7e09df1?apiKey=abac439ac3244545890e50f502c639c2&" class="image-2" />
	</div>
  </div>
  
  <style>
	.main-container {
	  background-color: #fff;
	  display: flex;
	  flex-direction: column;
	}
  
	.image-wrapper {
	  background-color: rgba(26, 123, 108, 0.95);
	  display: flex;
	  width: 100vw;
	  flex-direction: column;
	  align-items: start;
	  margin-left: calc(50% - 50vw);
	  height: 100vh;
	  padding: 50px 80px 50px 70px;
	}
  
	@media (max-width: 991px) {
	  .image-wrapper {
		max-width: 100%;
		padding: 0 20px;
	  }
	}
  
	.explore-button {
	  color: var(--PrimaryColor, #1a7b6c);
	  text-align: center;
	  white-space: nowrap;
	  justify-content: center;
	  align-items: center;
	  border-radius: 4px;
	  background-color: var(--Pure-White, #fff);
	  margin-top: 20px;
	  width: 146px;
	  max-width: 100%;
	  padding: 14px 20px;
	  font: 500 20px/24px Product Sans Medium, -apple-system, Roboto, Helvetica, sans-serif;
	}
  
	@media (max-width: 991px) {
	  .explore-button {
		white-space: initial;
	  }
	}
  
	.image {
	  aspect-ratio: 1.55;
	  object-fit: contain;
	  object-position: center;
	  width: 220px;
	  overflow: hidden;
	  align-self: center;
	  margin-top: 336px;
	  max-width: 100%;
	}
  
	@media (max-width: 991px) {
	  .image {
		margin-top: 40px;
	  }
	}
  
	.image-2 {
	  aspect-ratio: 12.78;
	  object-fit: contain;
	  object-position: center;
	  width: 511px;
	  overflow: hidden;
	  align-self: center;
	  max-width: 100%;
	  margin: 20px 0 316px;
	}
  
	@media (max-width: 991px) {
	  .image-2 {
		margin-bottom: 40px;
	  }
	}
  </style>
{% endblock %}
