{% extends 'staging/base.html' %}
<!-- loading from the static folder? -->
{% load static %}	
{% block content %}
<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="column">
        <div class="div-4">
          <div class="div-5">+ Explore</div>
          <div class="div-6">
            <div class="div-7">
              So great!
              <br />
              thorough !
            </div>
            <img
              loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/7efdaae8-6d0a-421f-81b7-2b92c59d4f17?apiKey=abac439ac3244545890e50f502c639c2&"
              class="img"
            />
            <div class="div-8">Details</div>
          </div>
        </div>
      </div>
      <div class="column-2">
        <div class="div-9">
          <div class="div-10">
            <div class="div-11">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation.
            </div>
            <div class="div-12">
              <div class="div-13">
                <div class="column-3">
                  <div class="div-14">
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/5b6d20a6-c8fb-419b-b9cf-ad9e2af6d040?apiKey=abac439ac3244545890e50f502c639c2&"
                      class="img-2"
                    />
                    <div class="div-15">APP</div>
                  </div>
                </div>
                <div class="column-4">
                  <div class="div-16">
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/44a9a42d-d682-404c-8a4b-5bb294c6c6f6?apiKey=abac439ac3244545890e50f502c639c2&"
                      class="img-3"
                    />
                    <div class="div-17">Web</div>
                    <div class="div-18">
                      User Experience, Artificial Intelligence, Website
                      Development, Product Development, Innovation
                    </div>
                    <img
                      loading="lazy"
                      src="https://cdn.builder.io/api/v1/image/assets/TEMP/9c7682d8-05ff-4e25-9a1d-9cfafbf2f8b5?apiKey=abac439ac3244545890e50f502c639c2&"
                      class="img-4"
                    />
                  </div>
                </div>
                <div class="column-5">
                  <div class="div-19">
                    <div class="div-20">
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/33bb6e9f-efe1-4e94-951b-3fc4c4d04021?apiKey=abac439ac3244545890e50f502c639c2&"
                        class="img-5"
                      />
                      <div class="div-21">Consultancy</div>
                    </div>
                    <div class="div-22">
                      <img
                        loading="lazy"
                        src="https://cdn.builder.io/api/v1/image/assets/TEMP/bc34fccd-b74d-4715-b7ad-21a86af9e135?apiKey=abac439ac3244545890e50f502c639c2&"
                        class="img-6"
                      />
                      <div class="div-23">
                        Network
                        <br />
                        Security
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-24">
    <div class="div-25">
      <div class="div-26">
        <div class="div-27">
          <div class="div-28">
            <div class="column-6">
              <div class="div-29">
                <img
                  loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/f4a81337-7d15-4dfe-bb48-33fc63673812?apiKey=abac439ac3244545890e50f502c639c2&"
                  class="img-7"
                />
                <div class="div-30">
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/5deb8f3f-c03e-4d8a-8dd5-8a460466920b?apiKey=abac439ac3244545890e50f502c639c2&"
                    class="img-8"
                  />
                  <img
                    loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/d292eaf1-d590-4ca1-96c1-be5ebfd3b454?apiKey=abac439ac3244545890e50f502c639c2&"
                    class="img-9"
                  />
                  <div class="div-31">Live Trivia Game</div>
                </div>
              </div>
            </div>
            <div class="column-7">
              <div class="div-32">
                <div class="div-33">Work</div>
                <div class="div-34">
                  So great!
                  <br />
                  Very thorough !
                </div>
                <div class="div-35">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                  amet sint. Velit officia consequat duis enim velit mollit.
                  Exercitation.
                </div>
                <div class="div-36">Details</div>
              </div>
            </div>
          </div>
        </div>
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/82b13d97-c3b3-4618-a5a9-ed2e4169a54e?apiKey=abac439ac3244545890e50f502c639c2&"
          class="img-10"
        />
      </div>
      <div class="div-37">
        <div class="div-38">
          <div class="column-8">
            <div class="div-39">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/df376173-b26a-4ca3-9946-e6236b73351f?apiKey=abac439ac3244545890e50f502c639c2&"
                class="img-11"
              />
              <div class="div-40">Creative Design</div>
              <div class="div-41">
                Lorem ipsum dolor sit amet, consectetur tempor incididunt ut
                labore adipisicing elit
                <br />
              </div>
            </div>
          </div>
          <div class="column-9">
            <div class="div-42">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/1f4f0c04-005b-48f9-a4bf-3060f50765b3?apiKey=abac439ac3244545890e50f502c639c2&"
                class="img-12"
              />
              <div class="div-43">Creative Design</div>
              <div class="div-44">
                Lorem ipsum dolor sit amet, consectetur tempor incididunt ut
                labore adipisicing elit
                <br />
              </div>
            </div>
          </div>
          <div class="column-10">
            <div class="div-45">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/3b04ded0-94b8-4869-8049-476a322395e5?apiKey=abac439ac3244545890e50f502c639c2&"
                class="img-13"
              />
              <div class="div-46">Creative Design</div>
              <div class="div-47">
                Lorem ipsum dolor sit amet, consectetur tempor incididunt ut
                labore adipisicing elit
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="div-48">
        <div class="div-49">
          <div class="column-11">
            <div class="div-50">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/92c8cf2b-6776-495b-aa2e-1899c2f4aa3f?apiKey=abac439ac3244545890e50f502c639c2&"
                class="img-14"
              />
              <div class="div-51">Creative Design</div>
              <div class="div-52">
                Lorem ipsum dolor sit amet, consectetur tempor incididunt ut
                labore adipisicing elit
                <br />
              </div>
            </div>
          </div>
          <div class="column-12">
            <div class="div-53">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/d0a46d5b-1244-471e-8214-f5a4152f2e30?apiKey=abac439ac3244545890e50f502c639c2&"
                class="img-15"
              />
              <div class="div-54">Creative Design</div>
              <div class="div-55">
                Lorem ipsum dolor sit amet, consectetur tempor incididunt ut
                labore adipisicing elit
                <br />
              </div>
            </div>
          </div>
          <div class="column-13">
            <div class="div-56">
              <img
                loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/f6fd5ceb-6acf-4e6c-84a4-1358e9e615a5?apiKey=abac439ac3244545890e50f502c639c2&"
                class="img-16"
              />
              <div class="div-57">Creative Design</div>
              <div class="div-58">
                Lorem ipsum dolor sit amet, consectetur tempor incididunt ut
                labore adipisicing elit
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .div-2 {
    background-color: #1abc9c;
    width: 100%;
    padding: 50px 80px 50px 70px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 27%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-4 {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px -46px 0 0;
  }
  @media (max-width: 991px) {
    .div-4 {
      margin-top: 40px;
    }
  }
  .div-5 {
    color: var(--PrimaryColor, #1a7b6c);
    text-align: center;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--Pure-White, #fff);
    width: 146px;
    max-width: 100%;
    padding: 14px 20px;
    font: 500 20px/24px Product Sans Medium, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-5 {
      white-space: initial;
    }
  }
  .div-6 {
    align-self: stretch;
    display: flex;
    margin-top: 244px;
    padding-left: 80px;
    flex-direction: column;
    align-items: start;
  }
  @media (max-width: 991px) {
    .div-6 {
      margin-top: 40px;
      padding-left: 20px;
    }
  }
  .div-7 {
    color: var(--Pure-White, #fff);
    margin-left: 13px;
    max-width: 362px;
    font: 700 70px/84px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      margin-left: 10px;
      font-size: 40px;
      line-height: 53px;
    }
  }
  .img {
    aspect-ratio: 5.5;
    object-fit: contain;
    object-position: center;
    width: 88px;
    overflow: hidden;
    max-width: 100%;
    margin: 99px 0 0 13px;
  }
  @media (max-width: 991px) {
    .img {
      margin: 40px 0 0 10px;
    }
  }
  .div-8 {
    color: var(--PrimaryColor, #1a7b6c);
    text-align: center;
    white-space: nowrap;
    border-radius: 40px;
    border: 2px solid var(--PrimaryColor, #1a7b6c);
    background-color: #faf9fe;
    align-items: center;
    margin: 92px 0 0 13px;
    padding: 27px 20px;
    font: 600 16px/19px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
      margin: 40px 0 0 10px;
    }
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 73%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-9 {
    border-radius: 144px;
    background-color: var(--PrimaryColorDisable, #dff2ef);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 50px 20px -94px;
  }
  @media (max-width: 991px) {
    .div-9 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-10 {
    z-index: 1;
    display: flex;
    margin-top: 65px;
    width: 880px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
  }
  @media (max-width: 991px) {
    .div-10 {
      margin-top: 40px;
    }
  }
  .div-11 {
    color: var(--PrimaryColor, #1a7b6c);
    margin-left: 57px;
    max-width: 680px;
    font: 500 22px/38px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-11 {
      max-width: 100%;
    }
  }
  .div-12 {
    align-self: stretch;
    margin-top: 97px;
  }
  @media (max-width: 991px) {
    .div-12 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-13 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-13 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 16%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-14 {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
  }
  .img-2 {
    aspect-ratio: 1.26;
    object-fit: contain;
    object-position: center;
    width: 87px;
    overflow: hidden;
  }
  .div-15 {
    color: #0f103e;
    align-self: start;
    white-space: nowrap;
    margin: 41px 0 0 10px;
    font: 700 22px/24px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-15 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .column-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-4 {
      width: 100%;
    }
  }
  .div-16 {
    border-radius: 87px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--PrimaryColor, #1a7b6c);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 47px 39px;
  }
  @media (max-width: 991px) {
    .div-16 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-3 {
    aspect-ratio: 3.28;
    object-fit: contain;
    object-position: center;
    width: 226px;
    overflow: hidden;
    align-self: center;
  }
  .div-17 {
    color: var(--Pure-White, #fff);
    align-self: stretch;
    margin-top: 33px;
    white-space: nowrap;
    font: 700 22px/24px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-17 {
      white-space: initial;
    }
  }
  .div-18 {
    color: var(--Pure-White, #fff);
    align-self: stretch;
    margin-top: 27px;
    font: 600 16px/28px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .img-4 {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 48px;
    overflow: hidden;
    align-self: end;
    margin-top: 19px;
    max-width: 100%;
  }
  .column-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 44%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-5 {
      width: 100%;
    }
  }
  .div-19 {
    display: flex;
    margin-top: 40px;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
  }
  .div-20 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: center;
  }
  .img-5 {
    aspect-ratio: 1.97;
    object-fit: contain;
    object-position: center;
    width: 136px;
    overflow: hidden;
  }
  .div-21 {
    color: #0f103e;
    align-self: start;
    white-space: nowrap;
    margin: 41px 0 0 10px;
    font: 700 22px/24px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-21 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-22 {
    align-self: stretch;
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    align-items: center;
  }
  .img-6 {
    aspect-ratio: 1.39;
    object-fit: contain;
    object-position: center;
    width: 96px;
    overflow: hidden;
  }
  .div-23 {
    color: #0f103e;
    align-self: stretch;
    margin-top: 38px;
    font: 700 22px/30px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  .div-24 {
    background-color: var(--Pure-White, #fff);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
  }
  @media (max-width: 991px) {
    .div-24 {
      max-width: 100%;
    }
  }
  .div-25 {
    display: flex;
    width: 100%;
    max-width: 1496px;
    flex-direction: column;
    align-items: center;
    margin: 70px 0 75px;
  }
  @media (max-width: 991px) {
    .div-25 {
      max-width: 100%;
      margin: 40px 0;
    }
  }
  .div-26 {
    display: flex;
    width: 100%;
    max-width: 1220px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-26 {
      max-width: 100%;
    }
  }
  .div-27 {
  }
  @media (max-width: 991px) {
    .div-27 {
      max-width: 100%;
    }
  }
  .div-28 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-28 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 57%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-6 {
      width: 100%;
    }
  }
  .div-29 {
    disply: flex;
    flex-direction: column;
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 600px;
    flex-grow: 1;
    align-items: end;
    padding: 50px 20px 0;
  }
  @media (max-width: 991px) {
    .div-29 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .img-7 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .div-30 {
    disply: flex;
    flex-direction: column;
    position: relative;
    fill: var(--Text-color, #1e1f4b);
    overflow: hidden;
    display: flex;
    aspect-ratio: 0.7257617728531855;
    width: 262px;
    max-width: 100%;
    align-items: center;
    margin: 189px -20px 0 0;
    padding: 50px 46px;
  }
  @media (max-width: 991px) {
    .div-30 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-8 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .img-9 {
    aspect-ratio: 1.31;
    object-fit: contain;
    object-position: center;
    width: 105px;
    overflow: hidden;
    margin-top: 66px;
    max-width: 100%;
  }
  @media (max-width: 991px) {
    .img-9 {
      margin-top: 40px;
    }
  }
  .div-31 {
    position: relative;
    color: #fff;
    text-align: center;
    align-self: stretch;
    white-space: nowrap;
    margin: 26px 0 48px;
    font: 600 24px/29px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-31 {
      margin-bottom: 40px;
      white-space: initial;
    }
  }
  .column-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 43%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-7 {
      width: 100%;
    }
  }
  .div-32 {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-32 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-33 {
    color: var(--PrimaryColor, #1a7b6c);
    margin-top: 8px;
    white-space: nowrap;
    font: 700 32px/24px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-33 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .div-34 {
    color: var(--Text-title, #616262);
    margin-top: 55px;
    font: 700 70px/84px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-34 {
      max-width: 100%;
      font-size: 40px;
      line-height: 53px;
      margin-top: 40px;
    }
  }
  .div-35 {
    color: var(--Text-title, #616262);
    align-self: start;
    max-width: 449px;
    margin: 38px 0 0 12px;
    font: italic 600 22px/38px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-35 {
      max-width: 100%;
    }
  }
  .div-36 {
    color: var(--PrimaryColor, #1a7b6c);
    text-align: center;
    white-space: nowrap;
    border-radius: 40px;
    border: 2px solid var(--PrimaryColor, #1a7b6c);
    background-color: #faf9fe;
    align-self: start;
    margin-top: 94px;
    width: 224px;
    max-width: 100%;
    align-items: center;
    padding: 27px 20px;
    font: 600 16px/19px SF Pro Display, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-36 {
      white-space: initial;
      margin-top: 40px;
    }
  }
  .img-10 {
    aspect-ratio: 5.5;
    object-fit: contain;
    object-position: center;
    width: 88px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: 60px 0 0 65px;
  }
  @media (max-width: 991px) {
    .img-10 {
      margin-top: 40px;
    }
  }
  .div-37 {
    align-self: stretch;
    margin-top: 120px;
  }
  @media (max-width: 991px) {
    .div-37 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-38 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-38 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-8 {
      width: 100%;
    }
  }
  .div-39 {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--Pure-White, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 45px 72px 45px 39px;
  }
  @media (max-width: 991px) {
    .div-39 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-11 {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 38px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-40 {
    color: #666;
    align-self: stretch;
    margin-top: 61px;
    white-space: nowrap;
    font: 700 20px/24px Product Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-40 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-41 {
    color: #666;
    align-self: stretch;
    margin-top: 13px;
    font: 400 18px/38px Poppins, sans-serif;
  }
  .column-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-9 {
      width: 100%;
    }
  }
  .div-42 {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--Pure-White, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 45px 72px 45px 39px;
  }
  @media (max-width: 991px) {
    .div-42 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-12 {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 38px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-43 {
    color: #666;
    align-self: stretch;
    margin-top: 61px;
    white-space: nowrap;
    font: 700 20px/24px Product Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-43 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-44 {
    color: #666;
    align-self: stretch;
    margin-top: 13px;
    font: 400 18px/38px Poppins, sans-serif;
  }
  .column-10 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-10 {
      width: 100%;
    }
  }
  .div-45 {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--Pure-White, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 45px 72px 45px 39px;
  }
  @media (max-width: 991px) {
    .div-45 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-13 {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 38px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-46 {
    color: #666;
    align-self: stretch;
    margin-top: 61px;
    white-space: nowrap;
    font: 700 20px/24px Product Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-46 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-47 {
    color: #666;
    align-self: stretch;
    margin-top: 13px;
    font: 400 18px/38px Poppins, sans-serif;
  }
  .div-48 {
    align-self: stretch;
    margin-top: 40px;
  }
  @media (max-width: 991px) {
    .div-48 {
      max-width: 100%;
    }
  }
  .div-49 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-49 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column-11 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column-11 {
      width: 100%;
    }
  }
  .div-50 {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--Pure-White, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 45px 72px 45px 39px;
  }
  @media (max-width: 991px) {
    .div-50 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-14 {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 38px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-51 {
    color: #666;
    align-self: stretch;
    margin-top: 61px;
    white-space: nowrap;
    font: 700 20px/24px Product Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-51 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-52 {
    color: #666;
    align-self: stretch;
    margin-top: 13px;
    font: 400 18px/38px Poppins, sans-serif;
  }
  .column-12 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-12 {
      width: 100%;
    }
  }
  .div-53 {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--Pure-White, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 45px 72px 45px 39px;
  }
  @media (max-width: 991px) {
    .div-53 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-15 {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 38px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-54 {
    color: #666;
    align-self: stretch;
    margin-top: 61px;
    white-space: nowrap;
    font: 700 20px/24px Product Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-54 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-55 {
    color: #666;
    align-self: stretch;
    margin-top: 13px;
    font: 400 18px/38px Poppins, sans-serif;
  }
  .column-13 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-13 {
      width: 100%;
    }
  }
  .div-56 {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--Pure-White, #fff);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    padding: 45px 72px 45px 39px;
  }
  @media (max-width: 991px) {
    .div-56 {
      max-width: 100%;
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .img-16 {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 38px;
    overflow: hidden;
    max-width: 100%;
  }
  .div-57 {
    color: #666;
    align-self: stretch;
    margin-top: 61px;
    white-space: nowrap;
    font: 700 20px/24px Product Sans, -apple-system, Roboto, Helvetica,
      sans-serif;
  }
  @media (max-width: 991px) {
    .div-57 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .div-58 {
    color: #666;
    align-self: stretch;
    margin-top: 13px;
    font: 400 18px/38px Poppins, sans-serif;
  }
</style>
{% endblock %}